*{
  font-family: "Roboto Slab", serif;
  color: white;
   
}
body {
    background-color: #222;
    min-height: 100vh;
    margin: 0%;

}
/* navbar */
.navbar{
    position: sticky;
    top: 0%;
    z-index: 1000;
    background-color: rgba(34,34,34, 0.25);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid #333;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.nav-left{
    display: flex;
}
.logo {
    border-radius: 48%;
    margin: 0 1rem;
}
.nav-title{
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    margin-top: 22px;
    
}

.nav-right{
    margin-left: auto;
    
}
.nav-items-containers{
    display: flex;
    flex-wrap: wrap;   
}

.nav-items{
    margin: 1rem;
    list-style-type: none;
}

.nav-items-links{
    text-decoration: none;

}
.nav-items-links:hover{
    color: rgb(67, 67, 224);
}

@media (max-width:848px){
.navbar-container{
    display: block;
}
.nav-items-containers{
    padding: 0%;
}
}

/* Hero Section */
.hero-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.hero-container .title{
    text-align: left;
    padding-left: 1rem;
}

.title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    

}

.description{
    text-align: justify;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
}

/* Resume Section */
.resume-container{
    margin-top: 1rem;
    padding: 2rem 1rem 0 1rem;
    min-height: 100vh;
}

.resume-sub-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}
.subtitle{
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin-bottom: 0;
   
}
.line{
background-color: #333;
width: 97px;
height: 2px;
margin: 0.25rem 0 2rem 0;
}
.inner-line{
    background-color: rgb(32, 116, 21);
    width: 30px;
    height: 2px; 

}
.resume-list{
    position: relative;
    /* display:flex ;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 1.25rem;
    border-left: 1px solid #333;
}
.resume-duration-container{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.round-div{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #222;
    position: absolute;
    left: -14px;
}

.resume-duration{
    background-color: black;
    width: auto;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}
 
.resume-education{
font-size: 1rem;
line-height: 1.5rem;
margin-bottom: 0.5rem;

}

.resume-background{
font-size: 0.875rem;
line-height: 1.25rem;
margin-left: 0; 
margin-top: 0.5rem;
color: gray; 

}

/* Hero Image, Resume Image */
.hero-image,
.resume-image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.hero-left, 
.hero-right {
  width: 100%;
}

/* Certificate Section */

.certificates-sub-container{
display: grid;
grid-template-columns: repeat(2, minmax(0, 1fr));
gap:2rem;
margin-top:3rem;

}



/* container */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 728px;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
    .hero-left{
      width: 40%;
    }
    .hero-right{
        width: 60%;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }
}
