*{
  font-family: "Roboto Slab", serif;
  color: white;
   
}
body {
    background-color: #222;
    min-height: 100vh;
    margin: 0%;

}
/* navbar */
.navbar{
    position: sticky;
    top: 0%;
    z-index: 1000;
    background-color: rgba(34,34,34, 0.25);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid #333;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.nav-left{
    display: flex;
}
.logo {
    border-radius: 48%;
    margin: 0 1rem;
}
.nav-title{
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    margin-top: 22px;
    
}

.nav-right{
    margin-left: auto;
    
}
.nav-items-containers{
    display: flex;
    flex-wrap: wrap;   
}

.nav-items{
    margin: 1rem;
    list-style-type: none;
}

.nav-items-links{
    text-decoration: none;

}
.nav-items-links:hover{
    color: rgb(67, 67, 224);
}

@media (max-width:848px){
.navbar-container{
    display: block;
}
.nav-items-containers{
    padding: 0%;
}
}

/* Hero Section */
.hero-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.hero-container .title{
    text-align: left;
    padding-left: 1rem;
}

.title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;

}

.description{
    text-align: justify;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
}

.hero-image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.hero-left, 
.hero-right {
  width: 100%;
}

/* container */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 728px;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
    .hero-left{
      width: 40%;
    }
    .hero-right{
        width: 60%;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }
}
