*{
  font-family: "Roboto Slab", serif;
  color: white;
  scroll-behavior: smooth;
   
}
body {
    background-color: #222;
    min-height: 100vh;
    margin: 0%;

}
/* navbar */
.navbar{
    position: sticky;
    top: 0%;
    z-index: 1000;
    background-color: rgba(34,34,34, 0.25);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid #333;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.nav-left{
    display: flex;
}
.logo {
    border-radius: 48%;
    margin: 0 1rem;
}
.nav-title{
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    margin-top: 22px;
    
}

.nav-right{
    margin-left: auto;
    
}
.nav-items-containers{
    display: flex;
    flex-wrap: wrap;   
}

.nav-items{
    margin: 1rem;
    list-style-type: none;
}

.nav-items-links{
    text-decoration: none;

}
.nav-items-links:hover{
    color: rgb(67, 67, 224);
}

@media (max-width:848px){
.navbar-container{
    display: block;
}
.nav-items-containers{
    padding: 0%;
}
}

/* Hero Section */
.hero-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
    margin-top: 1rem;
    padding-top: 1rem;

}

.hero-container .title{
    text-align: center;
    padding-left: 1rem;
    margin-top: 1rem;
}

.title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    

}

.description{
    text-align: justify;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
}

/* Resume Section */
.resume-container{
    margin-top: 1rem;
    padding: 2rem 1rem 0 1rem;
    min-height: 100vh;
}

.resume-sub-container{
     /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; */
     display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    
    

}
.subtitle{
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin-bottom: 0;
   
}
.line{
background-color: #333;
width: 97px;
height: 2px;
margin: 0.25rem 0 2rem 0;
}
.inner-line{
    background-color: rgb(32, 116, 21);
    width: 30px;
    height: 2px; 

}
.resume-list{
    /* position: relative;
     display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;  */
     display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    align-items: center;
    gap: 2rem;
    border-left: 1px solid #333;
}
.resume-duration-container{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.round-div{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #222;
    position: absolute;
    left: -14px;
}

.resume-duration{
    background-color: black;
    width: auto;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}
 
.resume-education{
font-size: 1rem;
line-height: 1.5rem;
margin-bottom: 0.5rem;

}

.resume-background{
font-size: 0.875rem;
line-height: 1.25rem;
margin-left: 0; 
margin-top: 0.5rem;
color: gray; 

}

/* Hero Image, Resume Image, Certificate, project */
.hero-image,
.resume-image,
.certificate-logo,
.project-image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.hero-left, 
.hero-right {
  width: 100%;
  
}

/* Certificate Section */

.certifications-container{
   
    min-height: 100vh;
}

.certificates-sub-container{
 display: grid;
grid-template-columns: repeat(2, minmax(0, 1fr)); 
/* display: flex;
flex-wrap: wrap;
 justify-content: space-between;  */
gap:1rem;

}

.certifications-list{
    display: flex;
    align-items: center;
    gap:1.25rem;
    border: 2px solid #555;
    border-radius: 0.375rem;
    transition: transform 0.3s ease;
    margin-top: 1rem;
    min-height: 100px;
    padding-right: 5rem;
}
.certifications-list:hover{
    transform: translateY(-0.5rem);
}

.certificate-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #333;
    height: 3rem;
}

.certificate-name{
font-size: 14px;
line-height: 20px;
font-weight:400;
margin: 0%;
color: #f5f5f5;
}

.certificate-org-name,
.certificate-date,
.certificate-link,
.project-details,
.project-link{
font-size: 12px;
line-height: 16px;
font-weight:400;
color: #777;
margin: 8px 0;
}

.certificate-link-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

     
}
.certificate-link-container:hover{
     transform: translateY(-0.5rem); 
     text-decoration: underline;
}
.certificates-links{   
    text-decoration: none;
   
}
.certificate-btn{
    padding: 1rem 1.5rem;
    background-color: #333;
    border: 2px solid #d5d5d5;
    border-radius: 1.25rem;
    cursor: pointer;
}
.certificate-btn:hover{
    background-color: #777;
    font-weight: 700;
    
}


/* Skills Section */
.skills-sub-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}
.skills-progress-container{
    margin: 1rem 0;

}

.skills-progress{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.skill{
    font-size: 13px;
}

.percentage{
    color: #555;
    font-size: 12px;

}

.progress{
    width: 100%;
    height: 8px;
    border: 2px solid #444;
    border-radius: 0.5rem;
    accent-color: #444;
}

progress::-webkit-progress-value{
    background-color: rgb(59 130 246
    );
}


/* project section */

.projects-container{
   margin-top: 40px;
   min-height: 100vh;
 
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 2rem;
    margin-top: 3rem;
}
.project-list{
    margin-top: 2rem ;
    border: 1px solid #333;
    border-radius: 1rem;
}
.project-image{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 200px;
    width: 600px;
}
.project-list:hover{
background-color:#333 ;
transform: translateY(-0.5rem); 

}
.project-name,
.project-details,
.project-link{
    margin-left: 1rem;
padding-left: 1rem;
}

.project-details{
    padding: 1rem;
    text-align: justify;
}


/* contact section */

.contact-container{
margin-top: 4rem;
min-height: 100vh;

}

.input-field{
background-color: transparent;
border: 2px solid #555;
border-radius: 2px;
width: 90%;
padding: 0.675rem;
margin-top: 1rem;
font-size: 16px;
}

.input-field:focus{
    outline: none;

}

.contact-button{
    border: 2px solid #3b8df6;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    line-height: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.contact-button:hover{
    cursor: pointer;
    background-color: #3b8df6;
}


.contact-info-container{
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

.contact-info-container a,
.contact-info-container p{
    text-decoration: none;
    font-size: 18px;

}

form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

/* footer section */
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0.75rem;
    border-top: 1px solid #333;
}

.footer-link{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    margin-left: 1rem;
}

/* container */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

@media (min-width: 576px) {
    
    .container{
        max-width: 540px;
        
    }
}
 
@media (max-width: 576px){
    .project-container,
    .resume-list{
        display: block;
    }
}


@media (min-width: 768px) {
    .container{
        max-width: 728px;
        margin-top: 2.5rem;
    }
}
@media (min-width: 992px) {
    /* .resume-sub-container{
        display: block;
    } */
    .container{
        max-width: 960px;
        
    }
    .hero-left{
      width: 40%;
    }
    .hero-right{
        width: 60%;
    }
}

@media (max-width: 992px){

.navbar{
    background-color: rgba(34,34,34, 1);
}

.resume-sub-container,
/* .resume-list, */
.certificates-sub-container,
.skills-sub-container,
.contact-info-container{
    display: block;
}
.project-container{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

}

@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
       

    }
}
@media (min-width: 1400px) {
    .container{
        max-width: 1320px;
      

    }
}
